extends ./layout

block title
  title Meta-model setup

block content
  h1 Data models
  - if (models && models.length > 0) {
    table.table.table-hover.table-bordered
      thead
        tr
          th Name
          th Field list
      tbody
        each model in models
          tr
            td= model.name
            td= model.fields
  - } else {
    p No models available
  - }
